body { 
background: url('/images/photo2.jpg') no-repeat center center fixed;
-moz-background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
background-size: cover;
} 

div.site{
background-color: #FFF;
opacity:0.9;
padding: .2em
}