body { 
background: url('/images/photo2.jpg') no-repeat center center fixed;
-moz-background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
background-size: cover;
} 

div.site{
 
background-color: rgba(255,255,255,0.9);
padding: .8em;
border-radius: .8em;
}

#left {
height: 5em;
width: 20%;
float: left;
background-color: #F0F;
	border-radius: .8em;
}

#right  {
padding-left: 2%;
height: 5em;
width: 78%;
float: right;
background-color: #0F0;
opacity: 1.0;
	border-radius: .8em;
}

div.header {

}