<!DOCTYPE html>
<html>
    <head>
    <script type="text/javascript" src="//use.typekit.net/cah5yfx.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        
        <!-- additional CSS --> 
        <link rel="stylesheet" href="/css/global.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
          <div id="left">
           <a class="extra" href="/">home</a></br>
           </div>
           <div id="right">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
           </div>
          </div> 

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>

                rcurrie@cobaltcommunications.ca
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/recurrie">github.com/recurrie</a><br />
                <a href="https://twitter.com/recurrie">twitter.com/recurrie</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
