<!DOCTYPE html>
<html>
    <head>
    <script type="text/javascript" src="//use.typekit.net/cah5yfx.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <meta charset="utf-8">

        <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- OLD syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- OLD Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        
        <!-- OLD additional CSS --> 
        <link rel="stylesheet" href="/css/normalize.css">
        
        <!-- additional CSS --> 
        <link rel="stylesheet" href="/css/barebones.css">
        
        <!-- additional CSS --> 
        <link rel="stylesheet" href="/css/global.css">
        

          <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    </head>
    <body>

      <div class="grid-container">
      <div>
                 {{ content }}
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    </body>
</html>
